<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MSU PI Recommendation System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center">MSU PI Recommendation System</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary", class="text-center">Submit</button>
        </form>
    {% if data %}  
    <div class="container">
        <h2 class="text-center"><u>MSU PI</u></h2><br>            
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          <!-- jinja2 Technique -->
          {% for i in data %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.department}}</td>
              <td>{{i.description}}</td>
            </tr>
          {% endfor %}
          </tbody> 
        </table>
      </div>
      {% endif %}    
    </body>
</html>
